<!doctype html>
<html lang="ro" xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4253419731329045" crossorigin="anonymous"></script>
  <link rel="canonical" th:href="${canonicalUrl}">
  <link rel="icon" type="image/png" href="/nume-aplicatie/images/favicon.png">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7Q2536ZKL2"></script>
  <script>
        window.dataLayer = window.dataLayer || [];
        window.gtag = function () { dataLayer.push(arguments); };
        gtag('consent', 'default', {
            'wait_for_update': 500,
            'region': ['RO'],
            'ad_storage': 'denied',
            'analytics_storage': 'denied',
            'ad_user_data': 'denied',
            'ad_personalization': 'denied'
        });
        gtag('js', new Date());
        gtag('config', 'G-7Q2536ZKL2');
    </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${lesson.title}">Lesson</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <style>
        body {
            background: #ffffff;
        }
    </style>
 </head>
 <body th:with="activeTopic='C-sharp', activeChapter='10.Colectii', activeLesson='1.Lista List_T_'">
  <button class="mobile-sidebar-toggle" onclick="toggleMobileSidebar()">☰</button>
  <div th:replace="~{fragments/nav :: nav}"></div>
  <div class="top-nav">
   <th:block th:each="topic : ${topics}"> <a th:href="@{'/lectii/topic/' + ${topic.id}}" th:text="${topic.name}" th:classappend="${topic.id} == ${activeTopicId} ? 'active' : ''"> </a> </th:block>
  </div>
  <div class="layout">
   <div class="mobile-sidebar" id="mobileSidebar">
    <button class="close-btn" onclick="toggleSidebar()">✖</button>
    <ul class="chapter-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-title" onclick="toggleChapter(this)">
        <strong th:text="${chapter.title}"></strong> <span class="arrow">▼</span>
       </div>
       <ul class="lesson-list">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul>
      </li>
     </th:block>
    </ul>
   </div>
   <aside class="sidebar">
    <ul class="sidebar-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-toggle" onclick="toggleLessons(this)">
        <span th:text="${chapter.title}">Chapter</span>
       </div>
       <ul class="lesson-list hidden">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul>
      </li>
     </th:block>
    </ul>
   </aside>
   <main class="content">
    <div class="document-container">
     <h1 class="main-title">Fluxuri și sistemul de intrare-ieșire</h1>
     <h2 class="subtitle">Tipuri de bază pentru lucrul cu fluxuri</h2>
     <p class="paragraph">Toate instrumentele pentru lucrul cu sistemul de intrare-ieșire și fluxuri în limbajul C++ sunt definite în biblioteca standard. Fișierul de antet iostream definește următoarele tipuri de bază pentru lucrul cu fluxuri:</p>
     <ul class="enumeration">
      <li>istream și wistream: citesc date din flux</li>
      <li>ostream și wostream: scriu date în flux</li>
      <li>iostream și wiostream: citesc și scriu date în flux</li>
     </ul>
     <p class="paragraph">Pentru fiecare tip este definit un duplicat care începe cu litera w și care este destinat pentru a sprijini datele de tip wchar_t (tipuri de caractere largi).</p>
     <p class="paragraph">Aceste tipuri sunt de bază pentru alte clase care gestionează fluxurile de intrare-ieșire.</p>
     <p class="paragraph">Obiectul de tip ostream primește valori de diferite tipuri, le convertește într-o secvență de caractere și le transmite printr-un tampon într-un anumit loc pentru ieșire (consolă, fișier, interfețe de rețea etc.).</p>
     <div class="image-container">
      <img th:src="@{/images/Cpp/15.Fluxuri%20si%20sistemul%20de%20intrare-iesire/1.Tipuri%20de%20baza%20pentru%20lucrul%20cu%20fluxuri/images/flux-scriere-date-cpp.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">Fluxul istream primește prin buffer dintr-un loc specificat secvențe de caractere (din consolă, dintr-un fișier, din rețea etc.) și convertește aceste secvențe în valori de diferite tipuri. Adică, atunci când introducem date (de exemplu, de la tastatură în consolă), datele sunt mai întâi acumulate în buffer și doar apoi sunt transmise obiectului istream.</p>
     <div class="image-container">
      <img th:src="@{/images/Cpp/15.Fluxuri%20si%20sistemul%20de%20intrare-iesire/1.Tipuri%20de%20baza%20pentru%20lucrul%20cu%20fluxuri/images/flux-citire-date-cpp.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">Prin default, în biblioteca standard sunt definite obiecte ale acestor clase - cout, cin, cerr, care lucrează cu consola.</p>
     <h2 class="subtitle">Scriere în flux</h2>
     <p class="paragraph">Pentru a scrie date în flux, în cazul ostream, se utilizează operatorul &lt;&lt;. Acest operator primește doi operanzi. Operandul din stânga reprezintă un obiect de tip ostream, iar operandul din dreapta reprezintă valoarea care trebuie afișată în flux.</p>
     <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4253419731329045" data-ad-slot="8453761934"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
     <p class="paragraph">De exemplu, în mod implicit, biblioteca standard C++ oferă obiectul cout, care reprezintă tipul ostream și permite afișarea datelor pe consolă:</p>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
     <div class="code-inline">
      <pre><code>#include&nbsp;&lt;iostream&gt;<br><br>int&nbsp;main()<br>{<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Hello"&nbsp;&lt;&lt;&nbsp;std::endl;<br>}<br></code></pre>
     </div>
     <p class="paragraph">Deoarece operatorul &lt;&lt; returnează operandul din stânga - cout, prin utilizarea lanțului de operatori, putem transmite mai multe valori pe consolă:</p>
     <div class="code-inline">
      <pre><code>std::cout&nbsp;&lt;&lt;&nbsp;"Hello"&nbsp;&lt;&lt;&nbsp;"&nbsp;world"&nbsp;&lt;&lt;&nbsp;std::endl;</code></pre>
     </div>
     <h2 class="subtitle">Citirea datelor</h2>
     <p class="paragraph">Pentru citirea datelor din flux, se utilizează operatorul de intrare &gt;&gt;, care primește doi operanzi. Operandul din stânga reprezintă fluxul istream din care se face citirea, iar operandul din dreapta reprezintă obiectul în care se vor citi datele.</p>
     <p class="paragraph">Pentru citirea de la consolă se folosește obiectul cin, care reprezintă tipul istream.</p>
     <div class="code-inline">
      <pre><code>#include&nbsp;&lt;iostream&gt;<br>&nbsp;&nbsp;<br>int&nbsp;main()<br>{&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;int&nbsp;age;<br>&nbsp;&nbsp;&nbsp;&nbsp;double&nbsp;weight;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Input&nbsp;age:&nbsp;";<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cin&nbsp;&gt;&gt;&nbsp;age;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Input&nbsp;weight:&nbsp;";<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cin&nbsp;&gt;&gt;&nbsp;weight;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Your&nbsp;age:&nbsp;"&nbsp;&lt;&lt;&nbsp;age&nbsp;&lt;&lt;&nbsp;"\t&nbsp;your&nbsp;weight:&nbsp;"&nbsp;&lt;&lt;&nbsp;weight&nbsp;&lt;&lt;&nbsp;std::endl;<br>}</code></pre>
     </div>
     <p class="paragraph">Totuși, acest mod nu este foarte potrivit pentru citirea de șiruri de caractere de la consolă, mai ales atunci când șirul citit conține caractere de spațiu. În acest caz, este mai bine să utilizăm funcția încorporată getline(), care primește ca parametru fluxul istream și variabila de tip string în care trebuie citite datele:</p>
     <div class="code-inline">
      <pre><code>#include&nbsp;&lt;iostream&gt;<br><br>int&nbsp;main()<br>{<br>&nbsp;&nbsp;&nbsp;&nbsp;std::string&nbsp;name;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Input&nbsp;name:&nbsp;";<br>&nbsp;&nbsp;&nbsp;&nbsp;getline(std::cin,&nbsp;name);<br>&nbsp;&nbsp;&nbsp;&nbsp;//std::cin&nbsp;&gt;&gt;&nbsp;name;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Your&nbsp;name:&nbsp;"&nbsp;&lt;&lt;&nbsp;name&nbsp;&lt;&lt;std::endl;<br>}</code></pre>
     </div>
     <p class="paragraph">Exemplu de lucru al programului:</p>
     <div class="code-inline">
      <pre><code>Input&nbsp;name:&nbsp;Tom&nbsp;Smit<br>Your&nbsp;name:&nbsp;Tom&nbsp;Smit</code></pre>
     </div>
     <p class="paragraph">Prin default, semnul de terminare a introducerii este caracterul de întoarcere la linie, de exemplu, prin apăsarea tastei Enter. Totuși, se poate seta un semn propriu de terminare a intrării folosind un parametru suplimentar pentru funcția getline(). Pentru aceasta, trebuie să transmitem caracterul care va marca sfârșitul intrării:</p>
     <div class="code-inline">
      <pre><code>#include&nbsp;&lt;iostream&gt;<br><br>int&nbsp;main()<br>{<br>&nbsp;&nbsp;&nbsp;&nbsp;std::string&nbsp;text;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"Input&nbsp;text:&nbsp;"&nbsp;&lt;&lt;&nbsp;std::endl;<br>&nbsp;&nbsp;&nbsp;&nbsp;getline(std::cin,&nbsp;text,&nbsp;'*');&nbsp;&nbsp;&nbsp;//&nbsp;semnul&nbsp;de&nbsp;terminare&nbsp;al&nbsp;intrării&nbsp;va&nbsp;fi&nbsp;caracterul&nbsp;*<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;"\nYour&nbsp;text:"&nbsp;&lt;&lt;std::endl;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cout&nbsp;&lt;&lt;&nbsp;text&nbsp;&lt;&lt;std::endl;<br>}</code></pre>
     </div>
     <p class="paragraph">În acest caz, introducerea se va încheia atunci când utilizatorul va introduce caracterul *. Astfel, putem introduce un text pe mai multe linii, iar când se va introduce simbolul *, intrarea va fi finalizată.</p>
     <p class="paragraph">Exemplu de lucru al programului:</p>
     <div class="code-inline">
      <pre><code>Input&nbsp;text:<br>Hello&nbsp;World<br>Good&nbsp;bye&nbsp;world*<br><br>Your&nbsp;text:<br>Hello&nbsp;World<br>Good&nbsp;bye&nbsp;world</code></pre>
     </div>
     <h2 class="subtitle">Afișarea erorilor</h2>
     <p class="paragraph">Pentru a afișa un mesaj de eroare pe consolă, se utilizează obiectul cerr, care reprezintă un obiect de tip ostream:</p>
     <div class="code-inline">
      <pre><code>#include&nbsp;&lt;iostream&gt;<br><br>int&nbsp;main()<br>{<br>&nbsp;&nbsp;&nbsp;&nbsp;std::cerr&nbsp;&lt;&lt;&nbsp;"Error&nbsp;occured"&nbsp;&lt;&lt;&nbsp;std::endl;<br>}</code></pre>
     </div>
     <h2 class="subtitle">Fluxuri pentru caractere de tip wchar_t</h2>
     <p class="paragraph">Pentru a lucra cu fluxuri de date de tip wchar_t, biblioteca standard C++ definește obiectele wcout (tip wostream), wcerr (tip wostream) și wcin (tip wistream), care sunt analogii ale obiectelor cout, cerr și cin și funcționează similar.</p>
     <div class="code-inline">
      <pre><code>#include&nbsp;&lt;iostream&gt;<br><br>int&nbsp;main()<br>{<br>&nbsp;&nbsp;&nbsp;&nbsp;int&nbsp;age;<br>&nbsp;&nbsp;&nbsp;&nbsp;double&nbsp;weight;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::wcout&nbsp;&lt;&lt;&nbsp;"Input&nbsp;age:&nbsp;";<br>&nbsp;&nbsp;&nbsp;&nbsp;std::wcin&nbsp;&gt;&gt;&nbsp;age;<br>&nbsp;&nbsp;&nbsp;&nbsp;std::wcout&nbsp;&lt;&lt;&nbsp;"Input&nbsp;weight:&nbsp;";<br>&nbsp;&nbsp;&nbsp;&nbsp;std::wcin&nbsp;&gt;&gt;&nbsp;weight;<br>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;(age&nbsp;&lt;=&nbsp;0&nbsp;||&nbsp;weight&nbsp;&lt;=&nbsp;0)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;std::wcerr&nbsp;&lt;&lt;&nbsp;"Invalid&nbsp;data"&nbsp;&lt;&lt;&nbsp;std::endl;<br>&nbsp;&nbsp;&nbsp;&nbsp;else<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;std::wcout&nbsp;&lt;&lt;&nbsp;"Your&nbsp;age:&nbsp;"&nbsp;&lt;&lt;&nbsp;age&nbsp;&lt;&lt;&nbsp;"\t&nbsp;your&nbsp;weight:&nbsp;"&nbsp;&lt;&lt;&nbsp;weight&nbsp;&lt;&lt;&nbsp;std::endl;<br>}</code></pre>
     </div>
    </div>
    <div class="lesson-navigation">
     <th:block th:if="${previousLesson != null}"> <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.title, ' ', '-'))} }" class="nav-button">← Lecția anterioară</a> </th:block> <th:block th:if="${nextLesson != null}"> <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.title, ' ', '-'))} }" class="nav-button">Lecția următoare →</a> </th:block>
    </div>
    <div class="discord-banner-section">
     <div class="discord-banner-container">
      <a href="https://discord.com/channels/1168639076098920578/1168646757551443979" target="_blank"> <img th:src="@{/images/cpp_discord.png}" alt="Discord Banner" class="discord-banner-image"> </a>
     </div>
    </div>
   </main>
   <aside class="ad-section">
    <div class="ad-box ad-desktop">
     <ins class="adsbygoogle" style="display:inline-block;width:120px;height:728px" data-ad-client="ca-pub-4253419731329045" data-ad-slot="7123454389"></ins>
    </div>
    <div class="ad-box ad-mobile">
     <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-4253419731329045" data-ad-slot="7123454389"></ins>
    </div>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   </aside>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
  <script th:src="@{/js/script.js}" defer></script>
 </body>
</html>