<!doctype html>
<html lang="ro" xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
    <link rel="icon" type="image/png" href="/nume-aplicatie/images/favicon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7Q2536ZKL2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () { dataLayer.push(arguments); };
      gtag('consent', 'default', {
        'wait_for_update': 500,
        'region': ['RO'],
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied'
      });
      gtag('js', new Date());
      gtag('config', 'G-7Q2536ZKL2');
    </script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${lesson.title}">Lesson</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <style>
        body {
            background: #ffffff;
        }
    </style>
 </head>
 <body th:with="activeTopic='C-sharp', activeChapter='9.Pattern matching', activeLesson='4.Pattern-ul pozitional'">
  <button class="mobile-sidebar-toggle" onclick="toggleMobileSidebar()">☰</button>
  <div th:replace="~{fragments/nav :: nav}"></div>
  <div class="top-nav">
   <th:block th:each="topic : ${topics}">
    <a th:href="@{'/lectii/topic/' + ${topic.id}}" th:text="${topic.name}" th:classappend="${topic.id} == ${activeTopicId} ? 'active' : ''"> </a>
   </th:block>
  </div>
  <div class="layout">
   <div class="mobile-sidebar" id="mobileSidebar">
    <button class="close-btn" onclick="toggleSidebar()">✖</button>
    <ul class="chapter-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-title" onclick="toggleChapter(this)">
        <strong th:text="${chapter.title}"></strong> <span class="arrow">▼</span>
       </div>
       <ul class="lesson-list">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
    ${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul></li>
     </th:block>
    </ul>
   </div>
   <aside class="sidebar">
    <ul class="sidebar-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-toggle" onclick="toggleLessons(this)">
        <span th:text="${chapter.title}">Chapter</span>
       </div>
       <ul class="lesson-list hidden">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
    ${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul></li>
     </th:block>
    </ul>
   </aside>
   <main class="content">
    <div class="document-container">
     <h1 class="main-title">Pattern-ul pozițional</h1>
     <p class="paragraph">Pattern-ul pozițional se aplică unui tip care are definită o metodă deconstructor. De exemplu, să definim următoarea clasă:</p>
     <div class="code-inline">
      <pre><code>class&nbsp;MessageDetails<br>{<br>&nbsp;&nbsp;&nbsp;public&nbsp;string&nbsp;Language&nbsp;{&nbsp;get;&nbsp;set;&nbsp;}&nbsp;=&nbsp;"";&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;limba&nbsp;utilizatorului<br>&nbsp;&nbsp;&nbsp;public&nbsp;string&nbsp;DateTime&nbsp;{&nbsp;get;&nbsp;set;&nbsp;}&nbsp;=&nbsp;"";&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;timpul&nbsp;zilei<br>&nbsp;&nbsp;&nbsp;public&nbsp;string&nbsp;Status&nbsp;{&nbsp;get;&nbsp;set;&nbsp;}&nbsp;=&nbsp;"";&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;statutul&nbsp;utilizatorului<br><br>&nbsp;&nbsp;&nbsp;public&nbsp;void&nbsp;Deconstruct(out&nbsp;string&nbsp;lang,&nbsp;out&nbsp;string&nbsp;datetime,&nbsp;out&nbsp;string&nbsp;status)<br>&nbsp;&nbsp;&nbsp;{<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lang&nbsp;=&nbsp;Language;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;datetime&nbsp;=&nbsp;DateTime;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;status&nbsp;=&nbsp;Status;<br>&nbsp;&nbsp;&nbsp;}<br>}</code></pre>
     </div>
     <p class="paragraph">Acum folosim pattern-ul pozițional și în funcție de valorile obiectului MessageDetails vom returna un anumit mesaj:</p>
     <div class="code-inline">
      <pre><code>string&nbsp;GetWelcome(MessageDetails&nbsp;details)&nbsp;=&gt;&nbsp;details&nbsp;switch<br>{<br>&nbsp;&nbsp;&nbsp;("english",&nbsp;"morning",&nbsp;_)&nbsp;=&gt;&nbsp;"Good&nbsp;morning",<br>&nbsp;&nbsp;&nbsp;("english",&nbsp;"evening",&nbsp;_)&nbsp;=&gt;&nbsp;"Good&nbsp;evening",<br>&nbsp;&nbsp;&nbsp;("german",&nbsp;"morning",&nbsp;_)&nbsp;=&gt;&nbsp;"Guten&nbsp;Morgen",<br>&nbsp;&nbsp;&nbsp;("german",&nbsp;"evening",&nbsp;_)&nbsp;=&gt;&nbsp;"Guten&nbsp;Abend",<br>&nbsp;&nbsp;&nbsp;(_,&nbsp;_,&nbsp;"admin")&nbsp;=&gt;&nbsp;"Hello,&nbsp;Admin",<br>&nbsp;&nbsp;&nbsp;_&nbsp;=&gt;&nbsp;"Bună"<br>};</code></pre>
     </div>
     <p class="paragraph">De fapt, acest pattern este similar cu exemplul cu tupluri de mai sus, doar că acum în construcția switch este transmis un obiect MessageDetails. Prin metoda deconstructor putem obține un set de parametri de ieșire sub formă de tuplu și, din nou, să-i comparăm cu anumite valori în construcția switch.</p>
     <p class="paragraph">Aplicare:</p>
     <div class="code-inline">
      <pre><code>MessageDetails&nbsp;details1&nbsp;=&nbsp;new&nbsp;MessageDetails&nbsp;{&nbsp;Language&nbsp;=&nbsp;"english",&nbsp;DateTime&nbsp;=&nbsp;"evening",&nbsp;Status&nbsp;=&nbsp;"user"&nbsp;};<br>string&nbsp;message&nbsp;=&nbsp;GetWelcome(details1);<br>Console.WriteLine(message);&nbsp;&nbsp;//&nbsp;Good&nbsp;evening<br><br>MessageDetails&nbsp;details2&nbsp;=&nbsp;new&nbsp;MessageDetails&nbsp;{&nbsp;Language&nbsp;=&nbsp;"french",&nbsp;DateTime&nbsp;=&nbsp;"morning",&nbsp;Status&nbsp;=&nbsp;"admin"&nbsp;};<br>message&nbsp;=&nbsp;GetWelcome(details2);<br>Console.WriteLine(message);&nbsp;&nbsp;//&nbsp;Hello,&nbsp;Admin</code></pre>
     </div>
     <p class="paragraph">De asemenea, putem lua valorile obiectului MessageDetails și să le folosim la crearea rezultatului metodei:</p>
     <div class="code-inline">
      <pre><code>string&nbsp;GetWelcome(MessageDetails&nbsp;details)&nbsp;=&gt;&nbsp;details&nbsp;switch<br>{<br>&nbsp;&nbsp;&nbsp;("english",&nbsp;"morning",&nbsp;_)&nbsp;=&gt;&nbsp;"Good&nbsp;morning",<br>&nbsp;&nbsp;&nbsp;("english",&nbsp;"evening",&nbsp;_)&nbsp;=&gt;&nbsp;"Good&nbsp;evening",<br>&nbsp;&nbsp;&nbsp;("german",&nbsp;"morning",&nbsp;_)&nbsp;=&gt;&nbsp;"Guten&nbsp;Morgen",<br>&nbsp;&nbsp;&nbsp;("german",&nbsp;"evening",&nbsp;_)&nbsp;=&gt;&nbsp;"Guten&nbsp;Abend",<br>&nbsp;&nbsp;&nbsp;(_,&nbsp;_,&nbsp;"admin")&nbsp;=&gt;&nbsp;"Hello,&nbsp;Admin",<br>&nbsp;&nbsp;&nbsp;(var&nbsp;lang,&nbsp;var&nbsp;datetime,&nbsp;var&nbsp;status)&nbsp;=&gt;&nbsp;$"{lang}&nbsp;not&nbsp;found,&nbsp;{datetime}&nbsp;unknown,&nbsp;{status}&nbsp;undefined",<br>&nbsp;&nbsp;&nbsp;_&nbsp;=&gt;&nbsp;"Bună"<br>};</code></pre>
     </div>
     <p class="paragraph">În penultima instrucțiune din construcția switch obținem pe poziție valorile din MessageDetails în variabilele lang, datetime și status și le folosim pentru a crea mesajul:</p>
     <div class="code-inline">
      <pre><code>MessageDetails&nbsp;details1&nbsp;=&nbsp;new&nbsp;MessageDetails<br>{<br>&nbsp;&nbsp;&nbsp;Language&nbsp;=&nbsp;"chinese",<br>&nbsp;&nbsp;&nbsp;DateTime&nbsp;=&nbsp;"night",<br>&nbsp;&nbsp;&nbsp;Status&nbsp;=&nbsp;"moderator"<br>};<br>string&nbsp;message&nbsp;=&nbsp;GetWelcome(details1);<br>Console.WriteLine(message);&nbsp;&nbsp;//&nbsp;chinese&nbsp;not&nbsp;found,&nbsp;night&nbsp;unknown,&nbsp;moderator&nbsp;undefined</code></pre>
     </div>
    </div>
   </main>
   <aside class="ad-section">
    <div class="ad-box">
     <p>Google Ad Here</p>
    </div>
    <div class="ad-box">
     <p>Promo: SQL Beginner Guide</p>
    </div>
   </aside>
  </div>
  <div class="lesson-navigation">
   <th:block th:if="${previousLesson != null}">
    <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.title, ' ', '-'))} }" class="nav-button">← Lecția anterioară</a>
   </th:block> <th:block th:if="${nextLesson != null}">
    <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.title, ' ', '-'))} }" class="nav-button">Lecția următoare →</a>
   </th:block>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
  <script th:src="@{/js/script.js}" defer></script>
 </body>
</html>
