<footer xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footer">
    <div class="footer-separator"></div>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Linkuri rapide</h3>
            <ul>
                <li><a th:href="@{/}">Acasă</a></li>
                <li><a th:href="@{/cursuri}">Cursuri</a></li>
                <li><a th:href="@{/about}">Despre</a></li>
                <li><a href="javascript:void(0)" onclick="openPopup()">Donează acum</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Topicuri</h3>
            <ul>
                <li th:each="topic : ${topics}">
                    <a th:href="@{'/lectii/topic/' + ${topic.id}}" th:text="${topic.name}">Topic</a>
                </li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Rețele Sociale</h3>
            <ul>
                <li>
                    <a th:href="${platformInfo.tiktokLink}" target="_blank">
                        <img src="/images/tiktok.png" alt="TikTok" style="width: 20px; vertical-align: middle; margin-right: 5px;">
                        TikTok
                    </a>
                </li>
                <li>
                    <a th:href="${platformInfo.instagramLink}" target="_blank">
                        <img src="/images/instagram.png" alt="Instagram" style="width: 20px; vertical-align: middle; margin-right: 5px;">
                        Instagram
                    </a>
                </li>
                <li>
                    <a th:href="${platformInfo.youTubeLink}" target="_blank">
                        <img src="/images/youtube.png" alt="YouTube" style="width: 20px; vertical-align: middle; margin-right: 5px;">
                        YouTube
                    </a>
                </li>
                <li>
                    <a th:href="${platformInfo.discordLink}" target="_blank">
                        <img src="/images/discord.png" alt="Discord" style="width: 20px; vertical-align: middle; margin-right: 5px;">
                        Discord
                    </a>
                </li>
                <li>
                    <a th:href="${platformInfo.linkedinLink}" target="_blank">
                        <img src="/images/linkedin.png" alt="LinkedIn" style="width: 20px; vertical-align: middle; margin-right: 5px;">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>


        <div class="footer-section contact">
            <h3>Legal & Contact</h3>
            <p>Email: <span th:text="${platformInfo.email}">contact@fabricadecoduri.com</span></p>
            <div><a th:href="@{/politica-confidentialitate}" class="privacy-link">Politica de confidentialitate</a></div>
            <div><a th:href="@{/termeni-conditii}" class="privacy-link">Termeni și Condiții</a></div>
            <div><a th:href="@{/cookies}" class="privacy-link">Politica de Cookie-uri</a></div>

        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Fabrica de Coduri. Toate drepturile rezervate.</p>
    </div>
</footer>
