<!-- templates/fragments/nav.html -->
<nav class="nav"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav">
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo" class="logo-img">
        </a>
    </div>

    <div class="menu">
        <a th:href="@{/}">Acasă</a>
        <a th:href="@{/dashboard/courses}">Dashboard</a>
        <a href="javascript:void(0)" onclick="openPopup()">Donează</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
        <a th:href="@{/admin/platform-info}" sec:authorize="hasRole('ADMIN')">Admin Dashboard</a>
    </div>

    <div class="hamburger" onclick="document.querySelector('.menu').classList.toggle('active')">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
</nav>