<!-- templates/fragments/nav.html -->
<nav class="nav" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="nav">
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo" class="logo-img">
        </a>
    </div>

    <div class="menu">
        <a th:href="@{/}">Acasă</a>
        <a th:href="@{/about}">Despre</a>
        <a href="javascript:void(0)" onclick="openPopup()">Donează</a>
    </div>

    <div class="hamburger" onclick="document.querySelector('.menu').classList.toggle('active')">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
</nav>
