<!doctype html>
<html lang="ro" xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4253419731329045" crossorigin="anonymous"></script>
  <link rel="canonical" th:href="${canonicalUrl}">
  <link rel="icon" type="image/png" href="/nume-aplicatie/images/favicon.png">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7Q2536ZKL2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () { dataLayer.push(arguments); };
      gtag('consent', 'default', {
        'wait_for_update': 500,
        'region': ['RO'],
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied'
      });
      gtag('js', new Date());
      gtag('config', 'G-7Q2536ZKL2');
    </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${lesson.title}">Lesson</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <style>body { background: #ffffff; }</style>
 </head>
 <body th:with="activeTopic='Java', activeChapter='1.Introducere in Java', activeLesson='4.Primul program in IntelliJ IDEA'">
  <button class="mobile-sidebar-toggle" onclick="toggleMobileSidebar()">☰</button>
  <div th:replace="~{fragments/nav :: nav}"></div>
  <div class="top-nav">
   <th:block th:each="topic : ${topics}"> <a th:href="@{'/lectii/topic/' + ${topic.id}}" th:text="${topic.name}" th:classappend="${topic.id} == ${activeTopicId} ? 'active' : ''"> </a> </th:block>
  </div>
  <div class="layout">
   <div class="mobile-sidebar" id="mobileSidebar">
    <button class="close-btn" onclick="toggleSidebar()">✖</button>
    <ul class="chapter-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-title" onclick="toggleChapter(this)">
        <strong th:text="${chapter.title}"></strong> <span class="arrow">▼</span>
       </div>
       <ul class="lesson-list">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
    ${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul>
      </li>
     </th:block>
    </ul>
   </div>
   <aside class="sidebar">
    <ul class="sidebar-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-toggle" onclick="toggleLessons(this)">
        <span th:text="${chapter.title}">Chapter</span>
       </div>
       <ul class="lesson-list hidden">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
    ${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul>
      </li>
     </th:block>
    </ul>
   </aside>
   <main class="content">
    <div class="document-container">
     <h1 class="main-title">Primul program în IntelliJ IDEA</h1>
     <p class="paragraph">În tema anterioară am discutat despre cum să creăm primul program și să îl rulăm din linia de comandă. Pentru a simplifica dezvoltarea, putem folosi și unelte precum IDE-urile sau mediile de dezvoltare integrate, care simplifică și accelerează scrierea codului și crearea aplicațiilor.</p>
     <p class="paragraph">În prezent, cel mai popular mediu de dezvoltare pentru Java este IntelliJ IDEA de la compania JetBrains. Să vedem cum putem folosi acest mediu.</p>
     <p class="paragraph">În primul rând, descărcăm pachetul de instalare de pe site-ul oficial https://www.jetbrains.com/idea/download. La această adresă puteți găsi pachete pentru Windows, MacOS, Linux.</p>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
     <p class="paragraph">De asemenea, mediul este disponibil în două versiuni - Ultimate (plătită, cu o perioadă gratuită de probă) și Community (gratuită). În acest caz, vom alege versiunea gratuită Community.</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image1.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">Observați că pe site apare mai întâi versiunea plătită Ultimate, iar apoi versiunea gratuită Community. Acest mediu este disponibil atât pentru platforma Intel x64, cât și pentru platforma ARM64. Pentru Windows și MacOS sunt disponibile pachete de instalare, iar pentru Linux sunt disponibile doar arhive.</p>
     <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4253419731329045" data-ad-slot="8453761934"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
     <p class="paragraph">Totuși, pe unele sisteme de operare Linux, cum ar fi Ubuntu, se poate folosi managerul de pachete snap pentru instalare, utilizând comanda:</p>
     <div class="code-inline">
      <pre><code>sudo&nbsp;snap&nbsp;install&nbsp;intellij-idea-community&nbsp;--classic</code></pre>
     </div>
     <p class="paragraph">Este important de menționat că versiunea Community nu are o serie de funcționalități disponibile în versiunea Ultimate (de exemplu, opțiunile pentru aplicațiile web Java nu sunt disponibile în Community).</p>
     <p class="paragraph">Totuși, versiunea Community este destul de funcțională și permite realizarea multor sarcini, inclusiv crearea de aplicații JavaFX și Android.</p>
     <p class="paragraph">După instalare, vom lansa IntelliJ IDEA și vom crea primul proiect. Pentru aceasta, pe ecranul de pornire selectăm New Project:</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image2.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">Apoi se va deschide fereastra de creare a proiectului. În partea stângă, ca tip de proiect, alegem New Project.</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image3.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">În câmpul Name introducem numele proiectului. În acest exemplu, proiectul se va numi HelloJava.</p>
     <p class="paragraph">În câmpul Location putem specifica calea către proiect, dacă nu ne convine calea implicită.</p>
     <p class="paragraph">Deoarece vom lucra cu limbajul Java, în câmpul Language selectăm opțiunea Java.</p>
     <p class="paragraph">În plus, în câmpul JDK putem specifica calea către Java SDK, care va fi folosit în proiect. De obicei, acest câmp conține deja calea către JDK-ul instalat pe computerul local. Dacă acest câmp este gol, trebuie să fie setat manual.</p>
     <p class="paragraph">După aceea, facem clic pe butonul Create. Mediul va crea și va deschide proiectul.</p>
     <p class="paragraph">În partea stângă putem vedea structura proiectului. Toate fișierele sursă sunt plasate în folderul src. În mod implicit, acest folder este gol, nu avem încă fișiere de cod în proiect. Așadar, adăugăm un fișier de cod. Facem clic dreapta pe folderul src și în meniul contextual alegem New -&gt; Java Class:</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image4.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">După aceasta, se va deschide o mică fereastră în care trebuie să introducem numele clasei. Să presupunem că clasa se va numi Program:</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image5.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">După apăsarea tastei Enter, în folderul src va fi adăugat un nou fișier cu clasa Java (în acest caz, clasa Program). În partea centrală va apărea conținutul său - adică codul sursă:</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image6.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">Modificăm codul clasei astfel:</p>
     <div class="code-inline">
      <pre><code>public&nbsp;class&nbsp;Program&nbsp;{<br><br>&nbsp;&nbsp;&nbsp;public&nbsp;static&nbsp;void&nbsp;main(String[]&nbsp;args)&nbsp;{<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hello&nbsp;FDC.COM!");<br>&nbsp;&nbsp;&nbsp;}<br>}</code></pre>
     </div>
     <p class="paragraph">Cu ajutorul săgeții verzi din bara de instrumente sau prin meniul Run -&gt; Run... vom rula proiectul.</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image7.png}" alt="" class="responsive-image">
     </div>
     <p class="paragraph">În partea de jos a ferestrei IntelliJ IDEA se va afișa fereastra de ieșire, unde vom putea vedea rezultatul execuției programului nostru.</p>
     <div class="image-container">
      <img th:src="@{/images/Java/1.Introducere%20in%20Java/4.Primul%20program%20in%20IntelliJ%20IDEA/images/image8.png}" alt="" class="responsive-image">
     </div>
    </div>
    <div class="lesson-navigation">
     <th:block th:if="${previousLesson != null}"> <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.title, ' ', '-'))} }" class="nav-button">← Lecția anterioară</a> </th:block> <th:block th:if="${nextLesson != null}"> <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.title, ' ', '-'))} }" class="nav-button">Lecția următoare →</a> </th:block>
    </div>
    <div class="discord-banner-section">
     <div class="discord-banner-container">
      <a href="https://discord.com/channels/1168639076098920578/1168646361491710082" target="_blank"> <img th:src="@{/images/java-discord.png}" alt="Discord Banner" class="discord-banner-image"> </a>
     </div>
    </div>
   </main>
   <aside class="ad-section">
    <div class="ad-box ad-desktop">
     <ins class="adsbygoogle" style="display:inline-block;width:120px;height:728px" data-ad-client="ca-pub-4253419731329045" data-ad-slot="7123454389"></ins>
    </div>
    <div class="ad-box ad-mobile">
     <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-4253419731329045" data-ad-slot="7123454389"></ins>
    </div>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   </aside>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
  <script th:src="@{/js/script.js}" defer></script>
 </body>
</html>