<!doctype html>
<html lang="ro" xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4253419731329045" crossorigin="anonymous"></script>
  <link rel="canonical" th:href="${canonicalUrl}">
  <link rel="icon" type="image/png" href="/nume-aplicatie/images/favicon.png">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7Q2536ZKL2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () { dataLayer.push(arguments); };
      gtag('consent', 'default', {
        'wait_for_update': 500,
        'region': ['RO'],
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied'
      });
      gtag('js', new Date());
      gtag('config', 'G-7Q2536ZKL2');
    </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${lesson.title}">Lesson</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <style>body { background: #ffffff; }</style>
 </head>
 <body th:with="activeTopic='JavaScript', activeChapter='11.Lucrul cu DOM', activeLesson='7.Gestionarea atributelor elementelor'">
  <button class="mobile-sidebar-toggle" onclick="toggleMobileSidebar()">☰</button>
  <div th:replace="~{fragments/nav :: nav}"></div>
  <div class="top-nav">
   <th:block th:each="topic : ${topics}"> <a th:href="@{'/lectii/topic/' + ${topic.id}}" th:text="${topic.name}" th:classappend="${topic.id} == ${activeTopicId} ? 'active' : ''"> </a> </th:block>
  </div>
  <div class="layout">
   <div class="mobile-sidebar" id="mobileSidebar">
    <button class="close-btn" onclick="toggleSidebar()">✖</button>
    <ul class="chapter-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-title" onclick="toggleChapter(this)">
        <strong th:text="${chapter.title}"></strong> <span class="arrow">▼</span>
       </div>
       <ul class="lesson-list">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
    ${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul>
      </li>
     </th:block>
    </ul>
   </div>
   <aside class="sidebar">
    <ul class="sidebar-list">
     <th:block th:each="chapter : ${chapters}">
      <li class="chapter-item" th:classappend="${chapter.id} == ${activeChapterId} ? 'open' : ''">
       <div class="chapter-toggle" onclick="toggleLessons(this)">
        <span th:text="${chapter.title}">Chapter</span>
       </div>
       <ul class="lesson-list hidden">
        <th:block th:each="lesson : ${chapter.lessons}">
         <li><a th:href="@{'/lectii/' +
    ${#strings.toLowerCase(#strings.replace(chapter.topic.name, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(chapter.title, ' ', '-'))} + '/' +
    ${#strings.toLowerCase(#strings.replace(lesson.title, ' ', '-'))} }" th:text="${lesson.title}" th:classappend="${lesson.id} == ${activeLessonId} ? 'active' : ''"> </a></li>
        </th:block>
       </ul>
      </li>
     </th:block>
    </ul>
   </aside>
   <main class="content">
    <div class="document-container">
     <h1 class="main-title">Gestionarea atributelor elementelor</h1>
     <p class="paragraph">Pentru gestionarea atributelor elementelor, JavaScript oferă o serie de metode:</p>
     <ul class="enumeration">
      <li>getAttribute(attr): returnează valoarea atributului attr</li>
      <li>createAttribute(attr): creează atributul attr</li>
      <li>setAttribute(attr, value): stabilește pentru atributul attr valoarea value. Dacă atributul nu există, acesta este adăugat</li>
      <li>removeAttribute(attr): elimină atributul attr și valoarea sa</li>
     </ul>
     <h2 class="subtitle">Obținerea unui atribut</h2>
     <p class="paragraph">Pentru a obține un atribut al unui element, se apelează metoda getAttribute(), în care se transmite numele atributului. De exemplu, să presupunem că avem pe pagină următorul element, care reprezintă un link:</p>
     <div class="code-inline">
      <pre><code>&lt;a&nbsp;id="home"&nbsp;class="link"&nbsp;href="index.html"&gt;Home&lt;/a&gt;</code></pre>
     </div>
     <p class="paragraph">Obținem atributele acestui element:</p>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
     <div class="code-inline">
      <pre><code>//&nbsp;obținem&nbsp;elementul<br>const&nbsp;element&nbsp;=&nbsp;document.getElementById("home");<br>//&nbsp;obținem&nbsp;atributele&nbsp;elementului<br>console.log(element.getAttribute("id"));&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;home<br>console.log(element.getAttribute("class"));&nbsp;//&nbsp;link<br>console.log(element.getAttribute("href"));&nbsp;&nbsp;//&nbsp;index.html</code></pre>
     </div>
     <p class="paragraph">De menționat că atributele elementelor sunt, de asemenea, accesibile prin proprietățile lor, care se numesc similar cu atributele (cu rare excepții):</p>
     <div class="code-inline">
      <pre><code>//&nbsp;obținem&nbsp;elementul<br>const&nbsp;element&nbsp;=&nbsp;document.getElementById("home");<br>//&nbsp;obținem&nbsp;atributele&nbsp;elementului<br>console.log(element.id);&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;home<br>console.log(element.className);&nbsp;//&nbsp;link<br>console.log(element.href);&nbsp;&nbsp;//&nbsp;file://PS&nbsp;C:\app\js&gt;</code></pre>
     </div>
     <p class="paragraph">Excepția se referă în special la atributul "class", care este accesibil prin proprietatea className.</p>
     <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4253419731329045" data-ad-slot="8453761934"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
     <p class="paragraph">De asemenea, proprietățile pot returna valori ușor diferite. De exemplu, proprietatea href returnează linkul complet, în timp ce metoda getAttribute("href") - valoarea directă a atributului.</p>
     <p class="paragraph">Același lucru se aplică și atributului style:</p>
     <div class="code-inline">
      <pre><code>&lt;a&nbsp;id="home"&nbsp;style="color:red;"&nbsp;href="index.html"&gt;Home&lt;/a&gt;<br>&lt;script&gt;<br>//&nbsp;obținem&nbsp;elementul<br>const&nbsp;element&nbsp;=&nbsp;document.getElementById("home");<br>//&nbsp;obținem&nbsp;atributele&nbsp;elementului<br>console.log(element.style);&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;CSSStyleDeclaration<br>console.log(element.getAttribute("style"));&nbsp;//&nbsp;color:red;<br>&lt;/script&gt;</code></pre>
     </div>
     <p class="paragraph">Metoda getAttribute("style") returnează stilul sub formă de text, iar proprietatea style - un obiect CSSStyleDeclaration, cu ajutorul proprietăților căruia se pot obține aspecte individuale ale stilului.</p>
     <h2 class="subtitle">Setarea atributelor</h2>
     <p class="paragraph">Pentru a seta valorile atributelor se folosește metoda setAttribute(attr, value), al cărei prim parametru este atributul care se stabilește, iar al doilea - valoarea sa:</p>
     <div class="code-inline">
      <pre><code>&lt;a&nbsp;id="home"&nbsp;href="index.html"&gt;Home&lt;/a&gt;<br>&lt;script&gt;<br>//&nbsp;obținem&nbsp;elementul<br>const&nbsp;element&nbsp;=&nbsp;document.getElementById("home");<br>//&nbsp;stabilim&nbsp;atributul&nbsp;href<br>element.setAttribute("href",&nbsp;"https://metanit.com");<br>//&nbsp;stabilim&nbsp;atributul&nbsp;style<br>element.setAttribute("style",&nbsp;"color:navy;");<br>&lt;/script&gt;</code></pre>
     </div>
     <p class="paragraph">Aici schimbăm atributul "href" și stabilim atributul "style". Deoarece atributul "style" inițial lipsește, acesta va fi adăugat. Dar trebuie menționat că, în realitate, acest lucru va duce la crearea unui nod Node care reprezintă atributul.</p>
     <p class="paragraph">Acestui nod i se va seta valoarea corespunzătoare, și apoi nodul atributului este adăugat în colecția de noduri copil ale elementului. Adică, de fapt, va arăta astfel:</p>
     <div class="code-inline">
      <pre><code>&lt;a&nbsp;id="home"&nbsp;href="https://FDC.com"&gt;Home&lt;/a&gt;<br>&lt;script&gt;<br>//&nbsp;obținem&nbsp;elementul<br>const&nbsp;element&nbsp;=&nbsp;document.getElementById("home");<br>//&nbsp;creăm&nbsp;un&nbsp;nod-atribut&nbsp;style<br>const&nbsp;attribute&nbsp;=&nbsp;document.createAttribute("style");<br>//&nbsp;stabilim&nbsp;valoarea&nbsp;nodului-atribut<br>attribute.value&nbsp;=&nbsp;"color:navy;";<br>//&nbsp;stabilim&nbsp;nodul&nbsp;atribut<br>element.setAttributeNode(attribute);<br>&lt;/script&gt;</code></pre>
     </div>
     <h2 class="subtitle">Ștergerea unui atribut</h2>
     <p class="paragraph">Pentru ștergerea unui atribut se folosește metoda removeAttribute(), în care se transmite atributul de șters:</p>
     <div class="code-inline">
      <pre><code>&lt;a&nbsp;id="home"&nbsp;href="https://FDC.com"&nbsp;style="color:navy;"&gt;Home&lt;/a&gt;<br>&lt;script&gt;<br>//&nbsp;obținem&nbsp;elementul<br>const&nbsp;element&nbsp;=&nbsp;document.getElementById("home");<br>//&nbsp;ștergem&nbsp;atributul&nbsp;style<br>element.removeAttribute("style");<br>&lt;/script&gt;</code></pre>
     </div>
    </div>
    <div class="lesson-navigation">
     <th:block th:if="${previousLesson != null}"> <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(previousLesson.title, ' ', '-'))} }" class="nav-button">← Lecția anterioară</a> </th:block> <th:block th:if="${nextLesson != null}"> <a th:href="@{'/lectii/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.topic.name, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.chapter.title, ' ', '-'))} + '/' +
            ${#strings.toLowerCase(#strings.replace(nextLesson.title, ' ', '-'))} }" class="nav-button">Lecția următoare →</a> </th:block>
    </div>
    <div class="discord-banner-section">
     <div class="discord-banner-container">
      <a href="https://discord.com/channels/1168639076098920578/1169648294100746300" target="_blank"> <img th:src="@{/images/js-discord.png}" alt="Discord Banner" class="discord-banner-image"> </a>
     </div>
    </div>
   </main>
   <aside class="ad-section">
    <div class="ad-box ad-desktop">
     <ins class="adsbygoogle" style="display:inline-block;width:120px;height:728px" data-ad-client="ca-pub-4253419731329045" data-ad-slot="7123454389"></ins>
    </div>
    <div class="ad-box ad-mobile">
     <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-4253419731329045" data-ad-slot="7123454389"></ins>
    </div>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   </aside>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
  <script th:src="@{/js/script.js}" defer></script>
 </body>
</html>